// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@import url("https://use.typekit.net/abw2ajm.css");

@import url("https://use.typekit.net/abw2ajm.css");

// Define fonts for body and headers
$body-font: "Pragmatica", "Helvetica", "sans-serif";
$headers-font: "Pragmatica", "Helvetica", "sans-serif";


body h1 {
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 15px;
}

body h2 {
  color: white;
}

body p {
  color: white;
  opacity: 0.9;
  font-size: 14px;
}



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
