// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@import url("https://use.typekit.net/abw2ajm.css");

// Define fonts for body and headers
$body-font: "Pragmatica", "Helvetica", "sans-serif";
$headers-font: "Pragmatica", "Helvetica", "sans-serif";


body h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

body h2 {
  color: white;
}

body p {
  color: white;
  opacity: 0.9;
}

body ul {
  color: white;
  font-size: 14px;
}

body {
  @media only screen and (min-width: 1300px) {
    p {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 18px !important;
      padding-bottom: 5px;
    }

    h3 {
      font-size: 18px;
    }

    a {
      font-size: 8px;
    }

    form {
      padding-bottom: 40px;
      font-size: 10px;
    }

    p, ul{
      font-size: 10px !important;
    }

    .page-container {
      margin-top: 65px;
    }

    .signup {
      padding-left: 20px;
    }

    .content {
      padding-left: 12px;
      padding-top: 24px;
    }

    .news p {
      line-height: 1.5;
    }
  }
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
