<div class="footer darker-color">
  <div class="footer-content">
    <div class="impressum-element">
      <p>Leander Nowack & Tobias Michnik
      mit Urbanophil Verlag für Stadt- und Architekturwissenschaft</p>
    </div>
    <div class="impressum-element spacing">
      <p>email coming soon</p>
    </div>
  </div>
  <div class="footer-agb">
    <a class="impressum" href="/impressum">IMPRESSUM</a>
  </div>
</div>
