<div class="footer darker-color">
  <div class="footer-content">
    <div class="impressum-element">
      <p>Leander Nowack & Tobias Michnik
      mit Urbanophil Verlag für Stadt- und Architekturwissenschaft</p>
    </div>
    <div class="impressum-element spacing">
      <a class="mail" href="mailto:mail@uebergangsraueme.de"> mail@uebergangsraueme.de</a>
    </div>
  </div>
  <div class="footer-agb">
    <a href="/impressum">IMPRESSUM</a>
  </div>
</div>
