<div class="footer">
  <div class="footer-content">
    <div class="impressum-element">
      Leander Nowack & Tobias Michnik
      mit Urbanophil Verlag für Stadt- und Architekturwissenschaft
    </div>
    <div class="impressum-element">
      Verantwortlich für den Inhalt nach §55 Abs. 2 RstV: <br>
      Leander Nowack
    </div>
  </div>
</div>
