<div class="footer darker-color">
  <div class="footer-content">
    <div class="impressum-element">
      <p>Leander Nowack & Tobias Michnik
      mit Urbanophil Verlag für Stadt- und Architekturwissenschaft</p>
    </div>
    <div class="impressum-element spacing">
      <a class="title-element" href="mailto:mail@uebergangsraeume.de"><i class="fas fa-mouse-pointer"></i> mail@uebergangsraeume.de</a><br>
    </div>
  </div>
  <div class="footer-agb">
    <a class="title-element" href="/impressum"><i class="fas fa-mouse-pointer"></i> Impressum</a>
  </div>
</div>
