<div class="page-container col-sm-8">
  <div class="row signup">

      <% if cookies[:saved_subscriber] %>
        Vielen Dank!
      <% else %>
        <h1>
          Hier den Newsletter mit Informationen über den Veröffentlichungstermin der Buchpublikation <i>Übergangsräume. Die Bushaltestellen auf der Berliner Stadtautobahn</i> und die dazugehörigen Veranstaltungsformate abonnieren:
        </h1>
        <%= form_for @subscriber do |f| %>
          <%= f.email_field :email, placeholder: "bus@haltestellen.com" %>
        <% end %>
      <% end %>

  </div>
</div>
