<div class="page-container col-sm-8">
  <div class="row signup">
    <% if cookies[:saved_subscriber] %>
      Thanks for signing up!
    <% else %>
      <h1>Hier den Newsletter abonnieren:</h1>
    <%= form_for @subscriber do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
    <% end %>
  <% end %>
  </div>
</div>
