body {
  background-color: $blackish;
}

h1{
  color: $light-gray;
}


.landscape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-container {
  margin-bottom: 200px;
  margin-top: 200px;
  width: 80%;
}

.main-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
}

.signup {
  padding-left: 50px;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;

  p {
    font-size: 14px;
  }
}

