body {
  background-color: $blackish;
}

h1{
  color: $light-gray;
}


.background-image {
  display: flex;
  justify-content: center;
  background-image: url('cover.png');
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.page-container {
  flex-grow: 1;
  padding-top: 25vh;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.signup {
  display: flex;
  justify-content: center;
}

.main-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

