.footer {
  padding: 32px;
  border-top: 1px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  width: 300px;
}

.impressum-element {
  font-size: 13px !important;
}

.spacing {
  padding-top: 24px;
}

.footer-agb a {
  color: white;
  font-size: 14px;
}

.footer-agb a:hover {
  transition: 0.6s;
  color: transparent;
  text-shadow: 0px 0px 14px white;
  transition: 0.6s;
  text-decoration: none;
}

.mail {
  color: white;
  font-size: 14px;
}

.mail:hover {
  transition: 0.6s;
  color: transparent;
  text-shadow: 0px 0px 14px white;
  transition: 0.6s;
  text-decoration: none;
}
