.navbar {
  background-color: $blackish;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.nav-link {
  font-family: adobe-caslon-pro;
  font-weight: 400;
  font-style: normal;
}

.title-element {
  color: white;
}

.title-element:hover {
  color: transparent;
  text-shadow: 0px 0px 14px white;
  transition: 0.6s;
  text-decoration: none;
}

.web-title {
  color: blue;
}

.web-title:hover {
  color: transparent;
  text-shadow: 0px 0px 14px blue;
  transition: 0.6s;
  text-decoration: none;
}

