.navbar-lewagon {
  justify-content: space-between;
  background: blackish;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#nav-text a {
  color: white;
}

#nav-text a:hover {
  color: #d3a42b;
  transition: 0.6s;
}

.kontakt {
  color: white;
}

.kontakt:hover {
  color: #d3a42b;
  transition: 0.6s;
  text-decoration: none;
}

