.navbar-lewagon {
  justify-content: space-between;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.linearGradient {
   background-image: linear-gradient(
      to bottom,
      rgb(19, 19, 19),
      rgba(19, 19, 19, 0.9),
      rgba(19, 19, 19, 0.384),
      rgba(111, 0, 255, 0)
   );
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


#nav-text a {
  color: white;
  font-size: 16px;
}

#nav-text a:hover {
  letter-spacing: 3px;
  transition: 0.6s;
}

.kontakt {
  font-size: 16px;
  color: white;
}

.kontakt:hover {
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.6s;
  color: white;
}

