.news p {
  line-height: 24px;
}

.no-padding-top p {
  padding-top: 0;
}

.spacing-below {
  padding-bottom: 40px;
  padding-right: 40px;
}

.darker-color {
  background-color: $blackish;
}

.block-right {
  float: right;
}

.logo {
  padding-left: 300px;
}
