<!-- <div class="page-container">
  <div class="row landscape">
    <div class="col-sm-7">
      <%= image_tag("cover_iso.png", class: "image") %>
    </div>
    <div class="signup col-sm-5">
      <div>
        <h2 class="title">DAS BUCH</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div> -->


<div class="page-container">
  <div class="row landscape">
    <div class="content col-sm-6">
      <div class="news">
        <h2 class="title">BUCH</h2><br>
        <p>Die Berliner Stadtautobahn ist eine Großstruktur, die
          sich auf unterschiedliche Weise mit dem Stadtkörper
          verflechtet. Mit Beginn ihrer baulichen Manifestation
          in den 1950er Jahren entsteht ein Kuriosum: Autobahn-
          buslinien. 13 Haltepunkte werden eingerichtet, dazu
          Busspuren, Wartehäuschen und Treppenhäuser. Geprägt
          von Verkehrseuphorie und der politischen Situation
          Berlins entsteht im sogenannten Schaufenster des
          Westens eine einzigartige Typologie. <br>Doch die Vision
          währt nicht lange. Wenige Jahre nach der Fertigstellung
          werden die ersten Haltestellen nicht mehr bedient. Bis
          heute verbleiben ihre Baukörper entlang der Stadtautobahn – zurückgebaut, umgenutzt, oder immer noch leer
          stehend.<br>
          <br>
          Dieses Buch über die ehemaligen Bushaltestellen auf der
          Berliner Stadtautobahn handelt von Übergangsräumen,
          hybriden Orten an der Schnittstelle zwischen Stadt und
          Infrastruktur. <br>Es geht um ihre Entstehung, ihre gestalterische Ausformulierung,
          ihre Transformationen, um die
          ihnen zugeschriebenen Werte und Bedeutungen. Die
          Publikation positioniert die Bauwerke zwischen zwei
          Betrachtungen: als Produkt der gesellschaftlichen, technischen und politischen Bedingungen und als urbane
          Räume, die von unterschiedlichen Akteuren anders verstanden und verhandelt werden. Dazu wird eine heterogene Sammlung von Fundstücken aus digitalen und
          analogen Archiven und Bibliotheken, sowie Gesprächen,
          Besichtigungen und Beobachtungen vor Ort verarbeitet.
          Das Buch beginnt mit dem simultanen Blick auf die
          Zustände der Haltestellen und geht chronologisch von
          Konzeption, Realisierung und Betrieb zu den Transformationen und schließlich zur Zukunft über. In Korrespondenz zum jeweiligen Inhalt und den facettenreichen
          Quellen werden verschiedene Operatoren angewandt,
          welche in unterschiedlichen Erzähl- und Darstellungsformen über fünf Kapitel ein mehrschichtiges Bild der
          Bauwerke zeichnen.
        </p>
      </div>
    </div>
  </div>
</div>
