<div class="page-container">
    <div class="row landscape justify-content-center">
      <div class="col-sm-6 text-right">
        <%= image_tag("urbanophil-logo_white.png", class: "image logo") %>
        <p>Vorbestellungen bitte an:<br>
        <a class="title-element" href="mailto:verlag@urbanophil.net"><i class="fas fa-mouse-pointer"></i> verlag@urbanophil.net</a><br>
        </p>
        <br>
        <p>Fragen und Anregungen zum Buch bitte an:<br>
        <a class="title-element" href="mailto:mail@uebergangsraueme.de"><i class="fas fa-mouse-pointer"></i> mail@uebergangsraeume.de</a><br>
        </p>
      </div>
      <div class="content col-sm-6">
        <div class="news no-padding-top">
          <p>
          17 x 24 cm<br>
          224 Seiten<br>
          139 Abbildungen, davon 28 farbig<br>
          107 Zeichnungen<br>
          <br>
          29€, zzg. Versandkosten<br>
          <br>
          Übergangsräume. Die Bushaltestellen auf der Berliner Stadtautobahn<br>
          von Tobias Michnik und Leander Nowack<br>
          URBANOPHIL Verlag, Berlin 2021<br>
          © 2021 by urbanophil e.V.
        </p>
        </div>
      </div>
    </div>
  </div>
