<div class="page-container">
  <div class="row landscape">
    <div class="content col-sm-6">
      <div>
        <h2 class="title">VORBESTELLEN</h2>
        <p>Vorbestellungen bitte an:<br>
          verlag@urbanophil.net<br>
          <br>
          29€, zzg. Versandkosten<br>
          <br>
          Übergangsräume. Die Bushaltestellen auf der Berliner Stadtautobahn<br>
          von Tobias Michnik und Leander Nowack<br>
          <br>
          URBANOPHIL Verlag, Berlin 2021<br>
          © 2021 by urbanophil e.V.<br>
          <br>
          17 x 24 cm<br>
          224 Seiten<br>
          139 Abbildungen, davon 28 farbig<br>
          107 Zeichnungen<br>
          <br>
          <br>
          Fragen und Anregungen zum Buch bitte an:<br>
          mail@uebergangsraeume.de<br>
        </p>
      </div>
    </div>
  </div>
</div>
