<div class="page-container">
  <div class="row landscape">
    <div class="col-sm-6">
      <%= image_tag("Agathe.png", class: "image") %>
    </div>
    <div class="content col-sm-6">
      <div class="news">
        <h2 class="title">10.02.2021</h2>
        <br>
        <a class="title-element" href="https://tu-berlin.zoom.us/j/67919424117?pwd=ZnQ4QVMyNFpUaC9uUjBnclRFR3NKQT09" target="_blank"><i class="fas fa-mouse-pointer"></i> zum Zoom-Link</a>
          <br>
        <p>
          » Am Freitag den 12. Februar laden wir Euch herzlich um 19.00 Uhr zum Online-Buchgespräch über die Publikation
          „Übergangsräume. Die Bushaltestellen auf der Berliner Stadtautobahn“ von Tobias Michnik und Leander Nowack ein. Die Publikation wurde seit 2018 von Leander und Tobias parallel zu ihrem Masterstudium mit Unterstützung des Lehrstuhls für Architektur- geschichte + Architekturtheorie erarbeitet und erscheint im April im Urbanophil Verlag.<br>
          <br>
          Im Rahmen von AGATHE LIEST möchten wir neben einer kurzen Einführung zu diesen kuriosen Bauwerken der Nachkriegsmoderne über die Entstehungs- und Produktionsbedingungen des Projektes sprechen sowie über das Buch als Entwurf und seine Rolle in der architektonischen Praxis diskutieren.
          Wir freuen uns auf einen diskussionsreichen und schönen Freitagabend mit Euch! «<br>
          <br>
          Meeting ID: 679 1942 4117<br>
          Passcode: 855002<br>
        </p>
      </div>
    </div>
  </div>
</div>
